################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Turn Based Game/FileContentIndex/38d4b287-a49a-4204-89b4-4abdbf1acf3f.vsidx
