version: '3.8'
services:
  app:
    build: .
    image: dm-helper:latest
    ports:
      - "8080:8080"
    volumes:
      - dpkeys:/var/dpkeys
    environment:
      - ASPNETCORE_ENVIRONMENT=Production

volumes:
  dpkeys:
