@using Frontend.Services
@rendermode InteractiveServer
@inject IConfiguration Configuration
@inject MonsterLoaderService monsterLoaderService

<div class="container my-5">
    <h4>User Guide</h4>
    <div class="container">
        <h5>Adding Creatures to Initiative</h5>
        <ul>
            <li>1) Input a creature into the text box below the "Creature Name:" field and fill out the associated <u>Initiative Value</u> and <u>Current Health</u> of the creature.</li>
            <li>2) Click the "Add Creature" button to add it to the table above.</li>
            <li>3) Repeat steps 1-2 for all creatures in the encounter.</li>
            <li>4) Once you have added all creatures, click the "Begin Initiative" button below. This will organize the order of the creatures from greatest to lowest initiative.</li>
        </ul>
        <p>Alternatively, if you may browse the "Available Monsters" dropdown to see if the creature is in the encounter. Simply select the monster you want to add into the encounter, 
            click "Add monster To Initiative", and then verify that all the information is correct and filled out properly before clicking the "Add Creature" button.
        </p>
    </div>

    <div class="container">
        <h5>During the Encounter</h5>
        <h6>To add creatures to initiative during the encounter:</h6>
        <ul>
            <li>1) Click the "Add To initiative" button. This will open the necessary fields to add a creature to initiative. </li>
            <li>2) Fill out the <u>Creature Name</u>, <u>Initiative Value</u>, and the creature's <u>Current Health</u>.</li>
            <li>3) Click the "Add Creature" button to add the creature to the initiative OR click the "Cancel" button once you have completed adding other creatures to the initiative</li>
        </ul>

        <h5>Rounds and Turns</h5>
        <h6>A border indicates that it is that creature's turn. However, you can continue to mark off whatever resource was used (Action, Bonus Action, etc.) as well as 
            whether or not another creature took damage, whether its alive, etc. regardless if it is that other creature's turn or not.
        </h6>
    </div>
    
    
</div>


@code {
    // Yeah I know this is a static HTMl page, sue me I'll refactor it later
}