@page "/items";
@using MudBlazor;

<PageTitle>Items</PageTitle>

<div class="mb-3">
    <MudTextField @bind-Value="SearchedEquipment" />
</div>

@code {
    // Page is supposed to be about for custom items to be able to keep track of the users' items for us and resets on short rest and long rest
    // List<Item> items = ItemParser.ParseAllJsonToItems("../../ItemsJson");

    // [Parameter]
    // public 

    public string? SearchedEquipment { get; set; } = string.Empty;

    protected override void OnInitialized() {
        Console.WriteLine("Running!");
    }
}