@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>

        <div>
            <MudBlazor.MudButton Href="/">Back</MudBlazor.MudButton>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
