@page "/items"
@using Component

<PageTitle>Item Tracker</PageTitle>

<div>
    laksjd;fklajsd
</div>

@code {
    // Page is supposed to be about for custom items to be able to keep track of the users' items for us and resets on short rest and long rest


}